
@{
    //ViewBag.Title = "Categoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header{
    <script>



        $(document).ready(function () {



            var qtdsel = -1;










            //getUrlParameter('action');
            //init Paginacao

            var pag = 1;
            var regpag = 3;
            //Paginacao(pag);

            function Paginacao(pagina) {
                //pag = pagina;
                //console.log("pagina:" + pag);

                constSelc = (pagina * regpag) - 1;
                consLelc = (pagina - 1) * regpag;

                selc = ".regItem:gt( " + constSelc + " )"; //take   1-0 | 3-2 | 5-4 |
                lelc = ".regItem:lt( " + consLelc + " )"; //skip
                //console.log("selc:" + selc);
                //console.log("lelc:" + lelc);

                $(".regItem").show();
                $(selc).hide();
                $(lelc).hide();

            }







            $(document).on('click', '.ctaorc', function () {

                //alert("oi");
                //console.log("começo");
                var savedNomes = "";
                var savedIds = "";
                var selEmpresas = "";

                var arObj = [];

                var empresaSelName = $(this).data("empresa");
                var empresaSelId = "A" + $(this).data("empresa-id");

                var helper = true;
                var pos = -1;

                //console.log("empresaSelName:");
                //console.log(empresaSelName);
                //selectors
                //localStorage.getItem("empresasNome");
                //localStorage.getItem("empresasIds");
                //console.log(getCookie("empresasNome"));




                if (getCookie("empresasIds") != "") {

                    //savedNomes.push("inicio");
                    //savedNomes = getCookie("empresasNome");
                    savedIds = getCookie("empresasIds");

                    arObj = savedIds.split(",");
                    //console.log("From Cookie:");
                    //console.log(arObj);

                }

                //pos = savedIds.indexOf(empresaSelId);
                pos = arObj.indexOf(empresaSelId);
                //console.log(pos);

                if (pos > -1) {
                    //console.log("Remover: " + arObj[pos]);

                    arObj.splice(pos, 1);
                    //savedIds = arObj.join();

                    $(this).text("Pedir Orçamento");
                    helper = false;

                }
                else {
                    //console.log("Add");
                    arObj.push(empresaSelId);

                    //savedIds = arNomes.join();

                    //console.log(savedIds);
                    $(this).html("<i class='fa fa-check-square'></i> Selecionado");

                }
                //console.log("arObj:");
                //console.log(arObj);
                savedIds = arObj.join();

                writeCookie("empresasIds", savedIds, 1);

                for (i = 0; i < arObj.length; i++) {
                    vurl = "api/Empresa/retornarId/" + arObj[i].substring(1);
                    $.get(vurl, function (data) {

                        selEmpresas += "<li>" + data.Nome + "</li>";

                        $("#listEmpSel").html(selEmpresas);
                    });

                }


                $("#nPedidos").text(arObj.length);
                if (arObj.length > 0) {
                    // $("#Form1 :input").prop("enabled", true);
                    $("#noselAlert").hide();
                    $("#Form1").show();
                } else {
                    //$("#Form1 :input").prop("disabled", true);
                    $("#noselAlert").show();
                    //selEmpresas = "<li>Não há empresas selecionadas</li>";
                    $("#Form1").hide();
                }



                //arObj = [];




                //session

                //localStorage.setItem("empresasNome", selEmpsName);
                //localStorage.setItem("empresasIds", selEmpsId);




            });



            //initial states


            //submenu
            $.get("/api/Subcategoria/submenu/@ViewData["categoryId"]", function (data) {

                var categories = {},
                    groupBy = "Tema";
                    //ul = $('<ul>');

                var content = "";
                var contid = "";
                var n = 0;

                for (var i = 0; i < data.length; i++) {
                    if (!categories[data[i][groupBy]])
                        categories[data[i][groupBy]] = [];
                    categories[data[i][groupBy]].push(data[i]);
                };



                for (key in categories) {
                    if (categories.hasOwnProperty(key)) {
                        contid = "cat" + n;
                        content += "<div class='card'>";
                        content += "<div class='card-header sidetopic' data-toggle='collapse' href='#" + contid + "'>";
                        content += key;
                        content += "</div>";
                        //var li = $("<div class='card-header sidetopic' data-toggle='collapse' href='#reformas'>").text('Tema: ' + key);
                        if (categories[key].length) {
                            //var ul_inner = $('<ul>');
                            content += "<div id='" + contid + "' class='collapse.show'>";
                            content += "<div class='card-body'>";
                            for (var i = 0; i < categories[key].length; i++) {
                                //$('<li>').html(categories[key][i].Nome + ', ' + categories[key][i].NomeLink).appendTo(ul_inner);
                                content += "<div class='sidelink'>";
                                content += "<a href='/@ViewData["lnkcat"]/" + categories[key][i].NomeLink + "'>" + categories[key][i].Nome + "</a>";
                                content += "</div>";
                            }
                            //li.append(ul_inner);
                            content += "</div>";
                            content += "</div>";
                        }
                        //li.appendTo(ul);
                        content += "</div>";
                        n++;
                    }
                }

                //content.appendTo('#sbmenu');
                $("#sbmenu").html(content);

            });

            //submenu







            //$("#listEmpSel").html(selEmpresas);




        });
    </script>

    <style type="text/css">
        .nav-link {
            padding: .25rem 1rem !important;
        }

        .card-body {
            padding: 0;
        }

        .card-header:first-child {
            border-radius: 0;
        }

        #accordionSub .card {
            border-radius: 0;
        }
    </style>

}






<!-- corte -->
<section class="bg-casa-e-reforma shadow">
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-md-0 my-4">
                <h2 id="tituloCat">@ViewBag.Title</h2>


                <select class="custom-select2 w-49 mw-100 mobile" id="filtroSubcategoria" required="">
                    <option value="xpot">Selecione o que você precisa</option>
                    <option value="xpot">Arquiteto</option>
                    <option value="xpot">Eletricista</option>
                    <option value="xpot">Bombeiro</option>
                </select>


            </div>
        </div>
    </div>
</section>


<div class="container">

    <!-- for mobile
    <div class="row mt-3 mobile">
        <div class="p-md-0 col-12">
            <select id="" class="w-100">
                <option value="xpot">O que você precisa?</option>
                <option value="xpot">Arquiteto</option>
                <option value="xpot">Eletricista</option>
                <option value="xpot">Bombeiro</option>
            </select>
        </div>
    </div>
        -->


    <div class="row mt-3">
        <div class="col-md-8 p-md-0">
            <ul class="nav nav-pills" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="OfertaLocal" data-toggle="pill" href="#home" role="tab">Empresas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="OfertaWeb" data-toggle="pill" href="#orcamento" role="tab">
                        Pedido de Orçamento <span id="nPedidos" class="badge badge-primary teaser">0</span>
                    </a>
                </li>
                @*<li class="nav-item">
                        <a class="nav-link" id="OfertaWeb" data-toggle="pill" href="#" role="tab">Avaliação</a>
                    </li>*@

            </ul>


            <!-- Tab panes -->
            <div class="tab-content">

                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="target-output" data-template-chosen="a"></div>

                    <!-- Pagination-->
                    <nav id="pagnav" class="mt-3">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" data-pagina="0">
                                <a id="page-prev" class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>

                            @*<li id="pg1" class="page-item active" data-pagina="1">
                                    <span class="page-link">1</span>
                                </li>
                                <li id="pg2" class="page-item" data-pagina="2">
                                    <a href="?p=2"><span class="page-link">2</span></a>
                                </li>
                                <li id="pg3" class="page-item" data-pagina="3">
                                    <span class="page-link">3</span>
                                </li>*@
                            <li id="nextpage" class="page-item" data-pagina="99">
                                <a id="page-next" class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>


                </div>
                <div class="tab-pane fade" id="orcamento" role="tabpanel" aria-labelledby="home-tab">
                    <div class="p-2">
                        <div id="noselAlert" class="alert alert-danger mb-3" role="alert">
                            Você não selecionou nenhuma empresa. <br />
                            Para selecionar, basta clicar em Pedir Orçamento no anúncio da empresa.
                        </div>
                        <div class="">



                            <form id="Form1" action="#" method="post" style="display:none;">
                                <h4 class="mb-3">Pedido de Orçamento</h4>

                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label for="empresaNome">Nome</label>
                                        <input type="text" class="form-control" id="nomeUsuario" placeholder="" value="" required="required">

                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="emailEmpresa">Email</label>
                                        <input type="email" class="form-control" id="emailEmpresa" placeholder="" value="" required="required">

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <label for="empresaNome">Descreva seu pedido</label>
                                        <textarea class="form-control" id="pedidoUsuario" rows="5"></textarea>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <p>Empresas Selecionadas</p>
                                        <ul id="listEmpSel"></ul>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label for="selQuando">Quando deseja o serviço</label><br />
                                        <select id="selQuando" name="selQuando" class="custom-select d-block w-100">
                                            <option value="hoje">Hoje (urgente)</option>
                                            <option value="2">Amanhã</option>
                                            <option value="3">Essa semana</option>
                                            <option value="4">Semana que vem</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="empresaBairro">Local do serviço: <span class="font-weight-bold" id="cidSel">Rio de Janeiro</span>-<span class="font-weight-bold" id="ufSel">RJ</span></label>
                                        <input type="text" class="form-control" id="empresaBairro" placeholder="Informe o Bairro" value="" required="required">

                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        &nbsp;
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <input type="hidden" id="hCodeEmpresaIds" />
                                        <button class="btn btn-primary btn-lg w-100">Enviar Pedido</button>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-4 pt-5 desktop">

            <div class="sidemenu reg p-0" id="subLista">

                <div class="sidemain p-2">
                    O que você precisa?
                </div>

                <div id="sbmenu"></div>

                @*<div id="accordionSub">

                        <div class="card">
                            <div class="card-header sidetopic" data-toggle="collapse" href="#reformas">
                                Reformas e Consertos
                            </div>
                            <div id="reformas" class="collapse.show" data-parent="#accordionSub">
                                <div class="card-body">
                                    <div class="sidelink">
                                        <a href="#">Eletricista</a>
                                    </div>
                                    <div class="sidelink">
                                        <a href="#">Pedreiro</a>
                                    </div>
                                    <div class="sidelink">
                                        <a href="#">Bombeiro</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header sidetopic" data-toggle="collapse" href="#comer">
                                Serviços domésticos
                            </div>
                            <div id="comer" class="collapse.show" data-parent="#accordionSub">
                                <div class="card-body">
                                    <div class="sidelink">
                                        <a href="#">Empregada</a>
                                    </div>
                                    <div class="sidelink">
                                        <a href="#">Passadeira</a>
                                    </div>
                                    <div class="sidelink">
                                        <a href="#">Faxineira</a>
                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>*@


            </div>




            @*<div class="sidemenu reg p-0">
                    <div class="sidemain p-2">
                        O que você precisa?
                    </div>
                    <div class="sidetopic">Reformas</div>
                    <div class="sidelink"><a href="">Eletricista</a></div>
                    <div class="sidelink"><a href="">Bombeiro</a></div>
                    <div class="sidelink"><a href="">Eletricista</a></div>
                    <div class="sidetopic">Consertos</div>
                    <div class="sidelink"><a href="">Televisão</a></div>
                    <div class="sidelink"><a href="">Ar Condicionado</a></div>
                    <div class="sidelink"><a href="">Eletronica</a></div>
                </div>*@



            <!--adsense-->

        </div>
    </div>


</div>

<!-- mustache -->

<script id="mustacheTempalte_a" type="text/template">
    <div class="item">
        {{#cardEmpresaShow}}
        <div class="col-md-12 px-0 mt-2 regItem">
            <div class="reg2 mr-md-2 p-md-3 p-sm-2">
                <div class="row">
                    <div class="col-md-2 col-4 pl-2 pr-0">
                        <div class="">
                            <div class="imgCard"><img src="/Content/img/{{ImagemUrl}}" alt="" class="imgCard rounded" /></div>
                        </div>
                    </div>
                    <div class="col-md-10 col-8 pl-md-3 pl-2">
                        @*<div class="f-verde f7r"><span class="font-weight-bold">0,03 Km - Anil</span></div>*@
                        <div class="subtitulo">
                            <a href="#">{{NomeEmpresa}}</a>
                        </div>
                        <div class="">
                            <span class="badge badge-success teaser">{{Nota}}</span>
                            <span class="teaser f-verde"><strong>{{AvaliacaoLabel}}</strong> ({{QtdAvaliacoes}} opiniões)</span>
                        </div>
                        <div class="f-verde">
                            <div class="teaser">{{Texto1}}</div>
                            <div class="teaser desktop">{{Texto2}}</div>
                        </div>
                        <div class="mt-0">

                            <div class="ctaorc badge badge-success f7r" data-empresa="{{NomeEmpresa}}" data-empresa-id="{{EmpresaId}}">Pedir Orçamento</div>
                            @*<span class="f7r f-verde font-weight-bold"><input type="checkbox" class="" value="#" />  Enviar orçamento</span>*@
                            <span class="f7r f-verde font-weight-bold desktop">| {{EmpSubcategorias}}</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {{/cardEmpresaShow}}
    </div>
</script>




<script src="~/Scripts/mustache.min.js"></script>
<script>


    function NumUF(nUF) {
        switch (nUF) {
            case '33':
                return 'RJ';
                break;
            case '35':
                return 'SP';
                break;
            default:
                return 'RJ';
                break;
        }
    }
    //
    var pagnx = getUrlParameter("p");
    if (pagnx == "") { pagnx = 1; }
    var takx = 2;
    var skipx = 0;
    if (pagnx > 1) {
        skipx = pagnx * takx - takx;
    }
    //alert(pagnx);
    //console.log("skip:" + skipx);
    //cards
    var inputApi = {
        "catId": 0,
        "subcatId": @ViewData["subcategoryId"],
        "uf": NumUF(getCookie("cufid")),
        "cid": getCookie("ccidade"),
        "t": takx,
        "s": skipx
    }

    console.log(inputApi);

    $.post("/api/anuncio/listaCards", inputApi, function (result) {
        var cardEmpresaShow = result;
        //console.log(result.cardEmpresaShow.length);

        var hlp = "";
        var numReg = result.numRegistros;
        var numpags = Math.ceil(numReg / takx);

        //pagina next e prev
        var proxpag = parseInt(pagnx) + 1;
        var prevpag = pagnx - 1;
        console.log("numReg: " + numReg);
        console.log("numpags: " + numpags);
        if (proxpag <= numpags) {
            $("#page-next").attr("href", "?p=" + proxpag);
        }
        if (pagnx > 1) {
            $("#page-prev").attr("href", "?p=" + prevpag);
        }

        //console.log("testes:" + pagnx + "|" + proxpag + "|" + numpags);
        if (numReg <= takx) {
            $("#pagnav").hide();
        } else {
            for (i = 1; i <= numpags; i++) {
                if (i == pagnx) {
                    hlp += "<li class='page-item active'><a href='?p=" + pagnx + "'><span class='page-link'>" + pagnx + "</span></a ></li>";
                } else {
                    hlp += "<li class='page-item'><a href='?p=" + i + "'><span class='page-link'>" + i + "</span></a ></li>";
                }
            }
            $(hlp).insertBefore("#nextpage");

        }

        //if (numReg > regpag) { $("#pagnav").show(); $("#pg2").show(); }
        //if (numReg > (regpag*2)) { $("#pg3").show(); }

        var targetContainer = $(".target-output"),
            templateDefined = $(".target-output").data("template-chosen"),
            template = $("#mustacheTempalte_" + templateDefined).html();

        var html = Mustache.to_html(template, result);

        $(targetContainer).html(html);

        var vurl = "";
        var selEmpresas = "";

        var ids = getCookie("empresasIds");
        var arObj2 = ids.split(",");
        //console.log(arObj2.length);

        if (getCookie("secaoatual") != "@ViewData["lnknome"]") {
                writeCookie("secaoatual", "@ViewData["lnknome"]", 1);
                writeCookie("empresasIds", "", 1);
        }

        for (i = 0; i < arObj2.length; i++) {
            if (arObj2[i] != "") {
                vurl = "api/Empresa/retornarId/" + arObj2[i].substring(1);
                $.get(vurl, function (data) {

                    selEmpresas += "<li>" + data.Nome + "</li>";

                    $("#listEmpSel").html(selEmpresas);
                });
            }



        }

        //console.log("From Cookie obj2:");
        //console.log(arObj2);
        $('.ctaorc').each(function () {
            //console.log($(this).html());
            var botids = "A" + $(this).data("empresa-id");

            if (getCookie("empresasIds") != "") {

                var pos2 = -1;
                pos2 = ids.indexOf(botids);

                if (pos2 > -1) {
                    $(this).html("<i class='fa fa-check-square'></i> Selecionado");
                }

                $("#nPedidos").text(arObj2.length);



                if (arObj2.length > 0) {
                    // $("#Form1 :input").prop("enabled", true);
                    $("#noselAlert").hide();
                    $("#Form1").show();
                } else {
                    //$("#Form1 :input").prop("disabled", true);
                    $("#noselAlert").show();
                    //selEmpresas = "<li>Não há empresas selecionadas</li>";
                    $("#Form1").hide();
                }





            }
        });




    });











    //var cardEmpresaShow = {
    //    "cardEmpresaShow": [
    //        {
    //            "CodeEmpresa": "01",
    //            "ImagemUrl": "empresa1/promo-100.jpg",
    //            "lnkEmpresa": "/empresa/detalhe",
    //            "NomeEmpresa": "Elétrica Xpto - 1",
    //            "Avaliacao": "4,5",
    //            "AvaliacaoLabel": "Muito Bom",
    //            "QtdAvaliacoes": "35",
    //            "Texto1": "Há mais de dez anos na área de eletricidade.",
    //            "Texto2": "Agende hoje mesmo uma visita conosco.",
    //            "Categorias": "Eletricista"
    //        },

    //        {
    //            "CodeEmpresa": "02",
    //            "ImagemUrl": "empresa99/promo-20.jpg",
    //            "lnkEmpresa": "/empresa/detalhe",
    //            "NomeEmpresa": "Luzan LTDA - 2",
    //            "Avaliacao": "3,5",
    //            "AvaliacaoLabel": "Bom",
    //            "QtdAvaliacoes": "45",
    //            "Texto1": "Há mais de dez anos na área de eletricidade.",
    //            "Texto2": "Agende hoje mesmo uma visita conosco.",
    //            "Categorias": "Eletricista, Encanador, Pedreiro, Serviços Gerais"
    //        },
    //        {
    //            "CodeEmpresa": "02",
    //            "ImagemUrl": "empresa7/promo-131.jpg",
    //            "lnkEmpresa": "/empresa/detalhe",
    //            "NomeEmpresa": "Aulas Paticulares - Pedro Coppelli - 3",
    //            "Avaliacao": "3,5",
    //            "AvaliacaoLabel": "Bom",
    //            "QtdAvaliacoes": "45",
    //            "Texto1": "Aulas de Fis.,Qui., Mat., Port.",
    //            "Texto2": "Agende hoje mesmo uma visita conosco.",
    //            "Categorias": "Professor Particular"
    //        },
    //        {
    //            "CodeEmpresa": "02",
    //            "ImagemUrl": "empresa7/promo-131.jpg",
    //            "lnkEmpresa": "/empresa/detalhe",
    //            "NomeEmpresa": "Aulas Paticulares - Pedro Coppelli - 4",
    //            "Avaliacao": "3,5",
    //            "AvaliacaoLabel": "Bom",
    //            "QtdAvaliacoes": "45",
    //            "Texto1": "Aulas de Fis.,Qui., Mat., Port.",
    //            "Texto2": "Agende hoje mesmo uma visita conosco.",
    //            "Categorias": "Professor Particular"
    //        },
    //        {
    //            "CodeEmpresa": "02",
    //            "ImagemUrl": "empresa7/promo-131.jpg",
    //            "lnkEmpresa": "/empresa/detalhe",
    //            "NomeEmpresa": "Aulas Paticulares - Pedro Coppelli - 5",
    //            "Avaliacao": "3,5",
    //            "AvaliacaoLabel": "Bom",
    //            "QtdAvaliacoes": "45",
    //            "Texto1": "Aulas de Fis.,Qui., Mat., Port.",
    //            "Texto2": "Agende hoje mesmo uma visita conosco.",
    //            "Categorias": "Professor Particular"
    //        },
    //        {
    //            "CodeEmpresa": "02",
    //            "ImagemUrl": "empresa7/promo-131.jpg",
    //            "lnkEmpresa": "/empresa/detalhe",
    //            "NomeEmpresa": "Aulas Paticulares - Pedro Coppelli - 6",
    //            "Avaliacao": "3,5",
    //            "AvaliacaoLabel": "Bom",
    //            "QtdAvaliacoes": "45",
    //            "Texto1": "Aulas de Fis.,Qui., Mat., Port.",
    //            "Texto2": "Agende hoje mesmo uma visita conosco.",
    //            "Categorias": "Professor Particular"
    //        },
    //        {
    //            "CodeEmpresa": "02",
    //            "ImagemUrl": "empresa7/promo-131.jpg",
    //            "lnkEmpresa": "/empresa/detalhe",
    //            "NomeEmpresa": "Aulas Paticulares - Pedro Coppelli - 7",
    //            "Avaliacao": "3,5",
    //            "AvaliacaoLabel": "Bom",
    //            "QtdAvaliacoes": "45",
    //            "Texto1": "Aulas de Fis.,Qui., Mat., Port.",
    //            "Texto2": "Agende hoje mesmo uma visita conosco.",
    //            "Categorias": "Professor Particular"
    //        },
    //        {
    //            "CodeEmpresa": "02",
    //            "ImagemUrl": "empresa7/promo-131.jpg",
    //            "lnkEmpresa": "/empresa/detalhe",
    //            "NomeEmpresa": "Aulas Paticulares - Pedro Coppelli - 8",
    //            "Avaliacao": "3,5",
    //            "AvaliacaoLabel": "Bom",
    //            "QtdAvaliacoes": "45",
    //            "Texto1": "Aulas de Fis.,Qui., Mat., Port.",
    //            "Texto2": "Agende hoje mesmo uma visita conosco.",
    //            "Categorias": "Professor Particular"
    //        },
    //        {
    //            "CodeEmpresa": "02",
    //            "ImagemUrl": "empresa7/promo-131.jpg",
    //            "lnkEmpresa": "/empresa/detalhe",
    //            "NomeEmpresa": "Aulas Paticulares - Pedro Coppelli - 9",
    //            "Avaliacao": "3,5",
    //            "AvaliacaoLabel": "Bom",
    //            "QtdAvaliacoes": "45",
    //            "Texto1": "Aulas de Fis.,Qui., Mat., Port.",
    //            "Texto2": "Agende hoje mesmo uma visita conosco.",
    //            "Categorias": "Professor Particular"
    //        }
    //    ]
    //};







//# sourceURL=pen.js
</script>


